body{
  background-color:#fff;
  color:#555;
  font-family:Arial, Helvetica, sans-serif;
  font-size:16px;
  line-height:1em;
  margin:0px;
  padding:0px;
}

.clr{
  clear:both;
}

.header{
  width:100%;
  height:60px;
  background-color:#fff;
  text-align:center;
  z-index:1;
}


.container{
  padding-left:25px;
  padding-right:25px;
  width:auto;
  position:static;
}


.row{
  align-items:center;
  vertical-align: bottom;
}



.header-logo{
  float:left;
  margin:0px;
  padding:0px;
  height:100%;
}

.header-logo ul{
  font-size:20px;
  padding:0px;
  font-weight:normal;
  font-style:italic;
  background-color:#fff;
  font-family:Georgia, serif;
}

.header-logo ul a{
  text-decoration:none;
  color:#0A67B0;
}

.header-logo ul a:hover{
  color:#0A67B0;
}

.header-logo ul a:active{
  color:#0A67B0;
}


.header-primarymenu{
  margin:0px;
  padding:0px;
  text-align: right;
}

.menubar .icon{
  display:none;
}

@media screen and (max-width:1037px){
  .menubar a{
    display:none;
  }
  .menubar a.icon{
    float:right;
    display:block;
  }
  .navbar ul{
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 10px;
    padding-inline-end:10px;
  }
}

@media screen and (max-width:1037px){
  .menubar.responsive a{
    float:none;
    display:block;
    text-align:center;
    padding-bottom:10px;
  }
}

.navbar{
  background-color:#fff;
  display:inline-block;
  margin:0px;
  padding:0px;
  left:30px;
}

.navbar ul{
  text-align:right;
  overflow:hidden;
  margin-block-start: 20px;
  display:inline-block;
}

.navbar li{
  display:inline;
  font-size: 18px;
  font-weight:normal;
  padding-right:20px;
  padding-top:5px;
}

.navbar a{
  color:#0a67b0;
  text-decoration:none;
}

.navbar a:hover{
  color:#6DA9D8;
}

.navbar a:active{
  color:#6DA9D8;
}


#showcase{
  position:relative;
  height: 600px;
  margin-top:60px;
  width:100%;
  align-content: center;
}

#showcase::before{
  content:"";
  background-image:url('../images/showcase.jpeg');
  background-position:center;
  background-size:cover;
  opacity:0.65;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  z-index:-1;

}

.showcasetxt{
  padding-top:150px;
  padding-left:50px;
  padding-right:50px;
}

.showcasetxt h1{
  color:#0A67B0;
  font-size:30px;
  font-family:Georgia, 'Times New Roman', serif;
  line-height:1.6em;
  text-align:center;
  position:relative;
}

.showcasebutton{
  text-align: center;
  margin-top:100px;
  position:relative;
}


.button{
  border:none;
  background-color:#0A67B0;
  color:#fff;
  padding:10px 15px;
  text-align:center;
  font-weight:bold;
  text-decoration:none;
}

.button:hover{
  background-color:#6DA9D8;
}

#main{
  padding: 50px 30px;
  box-sizing:border-box;
  text-align: center;
  background-color:#000;
  color:#fff;
  min-height: 800px;
}

.main-title{
  font-size:50px;
  font-family:palatino linotype, Georgia, 'Times New Roman', Times, serif;
}

.main-content{
  padding-left:100px;
  padding-right:100px;
  text-align:justify;
}

#main-footer{
  background:#0A67B0;
  margin-bottom:40px;
  height:200px;
}

#main-footer #strip{
  width:100%;
  padding:20px 0px;
  position:relative;
}

#main-footer #strip h1{
  position:absolute;
  left:10%;
  top:40px;
  font-size:18px;
  color:#fff;
  font-weight:normal;
}

#main-footer #strip h2{
  position:absolute;
  right:10%;
  top:20px;
  font-size:15px;
  color:#fff;
  font-weight:normal;
}

#main-footer #strip h3{
  position:absolute;
  left:10%;
  top:125px;
  font-size:15px;
  color:#8CA3B5;
  font-weight:normal;
}



#main-footer #strip h12{
  font-family:Palatino Linotype, Georgia, 'Times New Roman', Times, serif;
}

@media(max-width:780px){
  #main-footer #strip h1, #main-footer #strip h2, #main-footer #strip h3{
    /*left:100px;*/
    text-align:center;
    position:relative;
    float:none;
    padding:0px;
    margin:0px;
    left:auto;
    right:auto;
    top:auto;
    bottom:auto;
  }


  /*#main-footer #strip h2{
    left:635px;
    white-space:nowrap;
    display:block;


  }
  #main-footer #strip h3{
    left:100px;

  }*/

}


/*--css for contactus--*/

.strip{
  background-color:#fff;
  margin-top:60px;
  height:200px;
  font-family:palatino linotype, Georgia, 'Times New Roman', Times, serif;
}

.strip-title{
  padding-top:50px;
}

.strip-title h1{
  text-align:left;
  vertical-align: bottom;
  position:relative;
  color:#0A67B0;
  padding-top:20px;
  font-size:40px;
  margin:0px;
  padding:0px;
}

.my-form{
  padding:30px 80px;
  text-align: left;
  font-family:palatino linotype, Georgia, 'Times New Roman', Times, serif;
  font-size:18px;
  line-height: 30px;
}

.my-form .form-group{
  padding-bottom:15px;
}


.my-form label{
  display:block;
}


.my-form input[type="text"], .my-form textarea{
  padding:8px;
}


@media(max-width:600px){
  #main{
    width:auto;
    float:none;
  }

}


.fix-me-header{
  position:fixed;
  top:0px;
}


#strip-main{
  position:relative;
  margin:0px 20px;
  background-color:#CCDAE4;
  min-height:600px;
}


.container-box{
  width:600px;
  position:absolute;

}